.left {
  background: transparent;
  border: none;
  cursor: pointer;
  img {
  }
}

.right {
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    transform: rotate(180deg);
  }
}
